[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.99.1"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
mysql-connector-python = "*"
fastapi-jwt-auth = "*"
pydantic = "==1.10.11"
alembic = "*"
requests = "*"
sse-starlette = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
